<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Đề tài</h1>
    <p class="mb-4">Quản lý danh sách đề tài</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 row">
            <h6 class="col-sm-10 m-0 font-weight-bold text-primary">Danh sách</h6>
            <div class="col-dm-2">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="create()"><i class="fa fa-plus" aria-hidden="true"></i> Thêm </button>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Tên đề tài</th>
                            <th>Cán bộ</th>
                            <th>Hoạt động nghiên cứu</th>
                            <th>Số hiệu</th>
                            <th>Số trang</th>
                            <th>Lĩnh vực</th>
                            <th>Loại nhiệm vụ</th>
                            <th>Hoạt động nghiên cứu</th>
                            <th>Thời gian</th>
                            <th>Minh chứng</th>
                            <th>Tình trạng</th>
                            <th>Chức năng</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Tên đề tài</th>
                            <th>Cán bộ</th>
                            <th>Hoạt động nghiên cứu</th>
                            <th>Số hiệu</th>
                            <th>Số trang</th>
                            <th>Lĩnh vực</th>
                            <th>Loại nhiệm vụ</th>
                            <th>Hoạt động nghiên cứu</th>
                            <th>Cấp bảo vệ</th>
                            <th>Thời gian</th>
                            <th>Minh chứng</th>
                            <th>Tình trạng</th>
                            <th>Chức năng</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr *ngFor="let dt of item">
                            <td>{{dt.tendetai}}</td>
                            <td>{{dt.tennv}}</td>
                            <td>{{dt.tenhdnc}}</td>
                            <td>{{dt.sohieu}}</td>
                            <td>{{dt.sotrang}}</td>
                            <td>{{dt.tenhdnckh}}</td>
                            <td>{{dt.tenlinhvuc}}</td>
                            <td>{{dt.tenloainv}}</td>
                            <td>{{dt.capbv}}</td>
                            <td>{{dt.thoigianbd}}</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal" (click)="edit(dv.madonvi)"><i class="fa fa-wrench" aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-primary btn-sm" (click)="delete_(dt.id)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông tin đơn vị</h5>
                <button type="button" id="closeModel" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Tên đề tài</label>
                    <input type="text" value="{{tendt}}" #dv class="form-control" id="exampleInputEmail1">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Loại nghiên cứu</label>
                    <input type="text" value="{{loainc}}" #gc class="form-control" id="exampleInputEmail1">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Tên </label>
                    <input type="text" value="{{ten}}" #gc class="form-control" id="exampleInputEmail1">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Số hiệu</label>
                    <input type="text" value="{{sohieu}}" #gc class="form-control" id="exampleInputEmail1">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Năm sản xuất</label>
                    <input type="text" value="{{namsanxuat}}" #gc class="form-control" id="exampleInputEmail1">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Tập</label>
                    <input type="text" value="{{tap}}" #gc class="form-control" id="exampleInputEmail1">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Số</label>
                    <input type="text" value="{{so}}" #gc class="form-control" id="exampleInputEmail1">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Trang</label>
                    <input type="text" value="{{trang}}" #gc class="form-control" id="exampleInputEmail1">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Sôif</label>
                    <input type="text" value="{{soif}}" #gc class="form-control" id="exampleInputEmail1">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Minh chứng</label>
                    <input type="text" value="{{minhchung}}" #gc class="form-control" id="exampleInputEmail1">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Ghi chú</label>
                    <ckeditor #myEditor [(ngModel)]="ckeditorContent" [config]="{uiColor: '#a4a4a4'}" debounce="500"></ckeditor>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Lĩnh vực</label>
                    <select #lv>
                        <option></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Loại nhiệm vụ</label>
                    <select #lnv>
                        <option></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">hoạt động nghiên cứu khoa học</label>
                    <select #hdnckh>
                        <option></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Thời gian bắt đầu</label>
                    <input type="datetime" value="{{thoigianbd}}" #tgbd class="form-control" id="exampleInputEmail1">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Thời gian kết thúc</label>
                    <input type="datetime" value="{{thoigiankt}}" #tgkt class="form-control" id="exampleInputEmail1">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Cấp bảo vệ</label>
                    <select #cbv>
                        <option></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Minh chứng</label>
                    <input type="text" value="{{minhchung}}" #cm class="form-control" id="exampleInputEmail1">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" (click)="exec()">Lưu</button>
            </div>
        </div>
    </div>
</div>